#to-do-list {
    width: 100%;
    height: 420px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .background {
        position: absolute;
        width: 200%;
        height: 75%;
        background-color: black;
        transform: rotate(-4deg);
        z-index: -21;
    }

    h1 {
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 16px;
        text-decoration-thickness: 2px;
        text-decoration-color: green
    }

    p {
        margin-top: 8px;
        font-weight: normal;
        color: white;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        br {
            display: block;
        }
    }
}